body {
  background-color: #D9DBBC
}

h1{
  font-family: sans-serif;
  padding: 8px;
  margin: 25px;
  color:#FFFFFF
}

h2 {
  font-family: sans-serif;
  padding: 8px;
  margin: 25px;
  color:#FFFFFF
}

hr {
  border: 1px dashed #000;
  background-color:#D9DBBC

}

p {
  font-family: sans-serif;
  font-size: 20px;
  padding: 8px;
  margin: 25px;
  color:#FCDDBC
}

p2 {
  font-family: sans-serif;
  color:#FCDDBC
}

#script {
  font-family: serif;
  font-size: 20px;
  padding: 8px;
  margin: 25px;
  color:#FCDDBC;
}



#content {
  background-color: #69585F;
  width: 1900px;
  min-height:500px;
}

.problems {
  color: red;
}
.challenges {
  color: green;
}
.results {
  color: red;
}

.input {
  border: 3px solid white;
  font-family: sans-serif;
  margin: 50px;
  padding: 8px;
  font-size: 20px;
  color: white;
}
